@model ContentCreateModel;

@{
    ViewData["Title"] = "Create Content";
    var emailCount = 0;
    // if (Model.ContentNames != null)
    // {
    //     emailCount = Model.ContentNames.Count;
    // }
}

@* @section Styles
{
    <style>
        .removeMember {
            color: red;
            font-weight: 600;
            font-size: 20px;
            margin-left: 6%;
        }

        .emailSerial {
            text-align: right;
            margin-top: 2%;
        }

        #addMemberBtn {
            margin-left: 8%;
        }
    </style>
} *@
<br />
<br />
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-6">
            <h3>@ViewData["Title"]</h3>
        </div>
        <div class="col-6">
        </div>
    </div>
</div>
@if (!String.IsNullOrEmpty(Model.StatusMessage))
{
    <div class="alert alert-success" role="alert">
        <p>@Model.StatusMessage</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- Column -->
            <div class="col-12">
                <!-- Card -->
                <div class="card">
                    <div class="card-header p-2">
                        <div class="card-title"><a class="nav-link">1. General</a></div>
                        <h3 class="card-title mr-50 ml-10 mt-10">2. Contents</h3>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <form class="form-horizontal" method="post" asp-antiforgery="true" asp-action="CreateContent" asp-controller="Course" asp-area="Instructor" enctype="multipart/form-data">
                                @* <input type="hidden" name="CourseName" asp-for="CourseName" value="@Model.ProjectName" /> *@
                                <!-- Invaite Emails -->

                                <input type="hidden" name="CourseId" asp-for="CourseId" value="@Model.CourseId" />
                                <div class="col-lg-12 col-md-12 col-sm-12" id="membersDiv">
                                    
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                            
                                    @{
                                        for (int i = 1; i <= emailCount; i++)
                                        {
                                            <div class="card">
                                                <div class="row mt-60 card-body">
                                                    <div class="col-10 col-md-10">
                                                        <div class="row">
                                                            <div class="col-5 col-md-5">
                                                                <h5 class="emailSerial">Content @i</h5>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <!-- ./col -->
                                                            <div class="col-11 col-md-11">
                                                                <input type="text" class="form-control" name="ContentNames" asp-for="ContentNames[i-1]" placeholder="Enter Content Name">
                                                            </div>
                                                            <!-- ./col -->
                                                        </div>
                                                        <br />
                                                        <div class="row">
                                                            <!-- ./col -->
                                                            <div class="col-3 col-md-5">
                                                                <label>Upload Video</label>
                                                            </div>
                                                            <div class="col-5 col-md-5">
                                                                <input name="VideoFiles" asp-for="VideoFiles[i-1]" />
                                                            </div>
                                                            <!-- ./col -->
                                                        </div>
                                                        <div class="row">
                                                            <!-- ./col -->
                                                            <div class="col-3 col-md-5">
                                                                <label>Upload Note</label>
                                                            </div>
                                                            <div class="col-5 col-md-5">
                                                                <input name="NoteFiles" asp-for="NoteFiles[i-1]" />
                                                            </div>
                                                            <!-- ./col -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.row -->
                                            </div>
                                                    
                                        }
                                    }
                                </div>

                                <div class="container-fluid">
                                    <div class="row mb-2">
                                        <div class="col-2">
                                            <button type="button" id="addMemberBtn" class="btn bg-gradient-info btn-flat" title="Remove content">
                                                <b>+ Add more content</b>
                                            </button>
                                        </div>
                                        <div class="col-2">
                                            <button type="submit" class="btn btn-success float-right" style="margin-left: 26px;">Save Contents</button>
                                        </div>
                                        
                                    </div>
                                </div>
                            </form>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        // Add Another Member
        document.getElementById("addMemberBtn").addEventListener("click", () => {
            var nextSerial = document.getElementsByClassName('emailSerial').length + 1;
            var emailChildDiv = document.createElement("div");
            emailChildDiv.className = "card";
            emailChildDiv.innerHTML +=
                `<div class="row mt-60 card-body">
                <div class="col-10 col-md-10">
                    <div class="row">
                        <div class="col-5 col-md-5">
                            <h5 class="emailSerial">Content ` +nextSerial+ `</h5>
                        </div>
                    </div>
                    <div class="row">
                        <!-- ./col -->
                        <div class="col-11 col-md-11">
                            <input type="text" class="form-control" name="ContentNames" asp-for="ContentNames[i-1]" placeholder="Enter Content Name" required>
                        </div>
                        <!-- ./col -->
                    </div>
                    <div class="row">
                        <!-- ./col -->
                        <div class="col-11 col-md-11">
                            <input type="number" class="form-control" name="ContentNumbers" asp-for="ContentNumbers[i-1]" placeholder="Enter serial number" required>
                        </div>
                        <!-- ./col -->
                    </div>
                    <br />
                    <div class="row">
                        <!-- ./col -->
                        <div class="col-3 col-md-5">
                            <label>Upload Video</label>
                        </div>
                        <div class="col-5 col-md-5">
                            <input name="VideoFiles" asp-for="VideoFiles[i-1]" type="file" />
                        </div>
                        <!-- ./col -->
                    </div>
                    <div class="row">
                        <!-- ./col -->
                        <div class="col-3 col-md-5">
                            <label>Upload Note</label>
                        </div>
                        <div class="col-5 col-md-5">
                                    <input name="NoteFiles" asp-for="NoteFiles[i-1]" type="file"  />
                        </div>
                        <!-- ./col -->
                    </div>
                </div>
            </div>`;
            document.getElementById("membersDiv").appendChild(emailChildDiv);
        });

        //Remove Member
        document.addEventListener("click", e => {
            const target = e.target.closest(".removeMember");
            if (target) {
                var elementToRemove = target.parentElement.parentElement.parentElement.parentElement;
                document.getElementById("membersDiv").removeChild(elementToRemove);

                // Rearrange Email serials
                var serials = document.getElementsByClassName('emailSerial');
                var totalEmails = serials.length;
                for (let i = 1; i <= totalEmails; i++) {
                    serials[i - 1].innerHTML = "Content " + i;
                }
            }
        });
    </script>
}

