@model ContentUpdateModel;
@{
    ViewData["Title"] = "Update Content";
    var totalCount = 0;
    if (Model.oldContent != null)
    {
        totalCount = Model.oldContent.Count;
    }
}


<br />
<br />
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-6">
            <h3>@ViewData["Title"]</h3>
        </div>
    </div>
</div>
@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    var statusMessageClass = ViewBag.isOk == false ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <p>@ViewBag.Message</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card col-lg-9 col-md-9  ">
                <div class="card-header p-2">
                    <div class="float-right">
                        <a class="btn bg-gradient-primary btn-flat" asp-action="Update" asp-controller="Course" asp-area="instructor" asp-route-id="@Model.Id" asp-route-message=@null>
                            Update Course
                        </a>
                        &nbsp;
                        <a type="button" id="addMemberBtn" class="btn bg-gradient-info btn-flat"
                           asp-area="Instructor" asp-controller="Course" asp-action="CreateContent" asp-route-id="@Model.Id">
                            Add more content
                        </a>
                    </div>
                </div><!-- /.card-header -->
            </div>
            <div class="col-md-9 col-lg-9">
                @foreach (var content in Model.oldContent)
                {
                    <form asp-antiforgery="true" asp-area="Instructor" asp-controller="Course" asp-action="UpdateContent" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="contentId" value="@content.Id" />
                        <div class="card card-info card-outline">
                            <div class="card-header">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <div class="time-label">
                                        <h3 class="card-title">Content No. @content.ContentNo: @content.ContentName</h3>
                                        &nbsp;<i class="fas fa-minus"></i>
                                    </div>
                                </button>
                            </div>
                            <div class="card-body" style="display: none;">
                                <div class="timeline">
                                    <!-- timeline time label -->
                                    <div class="time-label">
                                        <span class="bg-red">@content.ContentName</span>
                                        <span><input type="text" class="form-control" asp-for="ContentName" placeholder="Enter New Content Name" autocomplete="@null"></span>
                                        <span asp-validation-for="ContentName"></span>
                                    </div>

                                    <div>
                                        <i class="fas fa-video bg-yellow"></i>

                                        <div class="timeline-item">

                                            <h3 class="timeline-header"><a href="#">Video Tutorial</a></h3>
                                            <span><input asp-value="@null" name="VideoFiles" asp-for="VideoFiles" type="file" autocomplete="@null"/></span>

                                            <div class="timeline-body">
                                                @if (content.VideoUrl != null)
                                                {
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <video class="embed-responsive-item" controls>
                                                            <source src="/uploads/videos/@content.VideoUrl">
                                                        </video>

                                                    </div>
                                                }
                                                else
                                                {
                                                    <h5>No video tutorial for this Content</h5>
                                                }

                                            </div>

                                        </div>
                                    </div>

                                    <div>
                                        <i class="fas fa-book bg-yellow"></i>
                                        <div class="timeline-item">
                                            <h3 class="timeline-header"><a href="#">Note</a></h3>
                                            <span><input name="NoteFiles" asp-value="@null" asp-for="NoteFiles" type="file" autocomplete="@null" /></span>
                                            <div class="timeline-body">
                                                @if (content.NoteUrl != null)
                                                {
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <embed src="/uploads/notes/@content.NoteUrl" type="application/pdf" width="100%" height="600px" />
                                                    </div>
                                                }
                                                else
                                                {
                                                    <h5>No note for this Content</h5>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <!-- END timeline item -->
                                    <div class="timeline-footer text-center">
                                        <button type="submit" class="btn btn-sm bg-yellow">Update Content</button>
                                    </div>
                                    <div>
                                        <i class="fas fa-clock bg-gray"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                }

            </div>
            <!-- /.col -->
        </div>
            <!-- /.row -->
    </div><!-- /.container-fluid -->
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

