@model CommunityModel
@{
    ViewData["Title"] = "Community";
}

<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <div class="container">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>brainX Community</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        @if (!String.IsNullOrEmpty(ViewBag.Status))
        {
            <div class="alert alert-success" role="alert">
                <p>@ViewBag.Status</p>
                </div>
        }

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <form method="post" asp-antiforgery="true" asp-action="CreateQuestion" asp-controller="Community" asp-area="" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-outline card-info">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        What's on your mind?
                                    </h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <input type="text" class="form-control" asp-for="Title" placeholder="Title (required)" required>
                                    <br /><textarea asp-for="Description" id="inputMessage" class="form-control" rows="4"></textarea>
                                    <br /><input asp-for="Image" />
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Post</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- ./row -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">

                                    <tbody>
                                        @foreach(var question in Model.communityQuestions)
                                        {
                                            <tr>
                                                <!-- Post -->
                                                <div class="post">
                                                    <div class="user-block">
                                                        <img class="img-circle img-bordered-sm" src="/uploads/img/@question.UserPhotoUrl" alt="User Image">
                                                        <span class="username">
                                                            <a href="#">@question.UserName</a>
                                                            <a href="#" class="float-right btn-tool"><i class="fas fa-times"> @question.DateTime</i></a>
                                                        </span>
                                                        <span class="description">
                                                            <b>@question.Title</b><br />
                                                            @question.Details
                                                        </span>
                                                    </div>
                                                    <!-- /.user-block -->
                                                    @if(question.ImageUrl != null)
                                                    {
                                                        <div class="row mb-3">
                                                            <div class="col-sm-12">
                                                                <img class="img-fluid" src="/uploads/img/@question.ImageUrl" alt="Photo">
                                                            </div>
                                                        </div>
                                                    }
                                                    
                                                    <!-- /.row -->

                                                    <p>
                                                        <a asp-area="" asp-controller="Community" asp-action="Answers" asp-route-id="@question.Id" class="link-black text-sm mr-2"><i class="fas fa-comments mr-1"></i> See Answers</a>
                                                    </p>
                                                </div>
                                                <!-- /.post -->
                                            </tr>
                                        }
                                        
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</div>
<!-- /.content-wrapper -->
